<body>

<div id="container">
  <h1>New forum</h1>

  <%= render 'form' %>

  <%= button_to 'Back', forums_path, :method => :get %>

  <div id="clearfooter"></div>
</div>
<div id="footer"> APT Tracker </div>

</body>