/* 
    Document   : slantedmenu
    Created on : Aug 17, 2011, 2:46:45 PM
    Author     : xaku
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

#slantedmenu{
font-weight: bold;
margin-right: auto;
margin-left: auto;
width: 100% ;
font-size: 90%;
}

#slantedmenu:after{ /*Add margin between menu and rest of content in Firefox*/
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

#slantedmenu ul{
text-indent: 10px;
padding: 3px 0;
margin: 0;
background-color: burlywood;
border: 1px solid #bebebe;
text-align: left; /*set value to "center" for example to center items*/
}

#slantedmenu ul li{
display: inline;
}

#slantedmenu ul li a{
color: #494949;
padding: 3px 0;
padding-right: 25px;
margin: 0;
text-decoration: none;
background: transparent url(/images/slantdivider.gif) top right no-repeat;
}

#slantedmenu ul li a:visited{
color: #494949;
}

#slantedmenu ul li a:hover{
color: black;
}

table.tablelogin {
        margin-left: auto;
        font-family: verdana,arial,sans-serif;
	font-size:11px;
}
table.tablelogin th {
	font-family: verdana,arial,sans-serif;
	font-size:14px;
}