/* 
    Document   : style
    Created on : Aug 16, 2011, 10:44:35 AM
    Author     : xaku
    Description:
        Purpose of the stylesheet follows.
*/
root { 
    display: block;
}

body {
        background-color:antiquewhite;
        padding-left: 5%;
        padding-right: 5%;
}

body h1{
        text-align: center;
}

table.apttable {
        text-align: left;
        margin-right: auto;
        margin-left: auto;
        width: 100% ;
        font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.apttable th {
        text-align: center;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: burlywood;
}
table.apttable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}


table.controls {
        margin-left: auto;
        padding-right: 5%;
}

a img{
    border:0;
}



.text_area {
        width: 600px;
        height: 120px;
        border: 3px solid #cccccc;
        padding: 5px;
        font-family: Tahoma, sans-serif;
        background-position: bottom right;
        background-repeat: no-repeat;

}
